$primarySquash: #141e27;
$secondarySquash: #203239;
$backGroundColor1: #e0ddaa;
$backGroundColor2: #eeedde;
// all start
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

section:nth-child(n + 2) {
  padding: 3em;

  //   min-height: 100vh;
}

section:nth-child(1) {
  background: $secondarySquash;

  height: 93vh;
}

section:nth-child(2n + 3) {
  background: $backGroundColor2;
}
// all end

// header start
header {
  height: 7vh;
  background: $primarySquash;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: $backGroundColor1;
  color: $primarySquash;
}

.active {
  background: $backGroundColor1 !important;
  color: $primarySquash !important;
  transition: all 0.5 ease;
}
// header end

// Home start
.homeHeaderContainer {
  padding-left: 20%;
}
.homeHeader {
  font-size: 5rem;
  color: $backGroundColor2;
}
.changingHeader {
  font-size: 8rem;
  color: $backGroundColor1;
}

.wordAnimatedFade {
  opacity: 0;
  transition: all 0.4s ease;
}

.wordAnimatedFade.fadeAnimation {
  opacity: 1;
}

#Contact {
  height: 50vh;
  background: $primarySquash;
  color: white;
}

.scrollDownArrow {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);
  height: 50px;
  width: 100px;
  border-radius: 150px 150px 0 0;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  animation: arrowAnimation 3s infinite;
}

@keyframes arrowAnimation {
  from {
    transform: scale(2) translate(0, 0%);
  }
  50% {
    transform: scale(2) translate(0, 35%);
  }
  100% {
    transform: scale(2) translate(0, 0%);
  }
}

.homeImg {
  max-width: 100px;
  max-height: 100px;
  opacity: 0.4;
  animation: homeImgAnimation 2s;
}

.homeImg:hover {
  opacity: 1;
}

@keyframes homeImgAnimation {
  from {
    max-width: 500px;
    max-height: 500px;
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    max-width: 100px;
    max-height: 100px;
    opacity: 0.4;
  }
}

.bootStrapLogo {
  position: absolute;
  top: 10%;
  left: 15%;
  transform: rotate(-15deg) translate(-50%);
}
.javaLogo {
  position: absolute;
  top: 45%;
  left: 10%;
  transform: rotate(-95deg) translate(-50%);
}
.csharpLogo {
  position: absolute;
  top: 12%;
  left: 75%;
  transform: rotate(-15deg) translate(-50%);
}
.cppLogo {
  position: absolute;
  top: 45%;
  left: 78%;
  transform: rotate(20deg) translate(-50%);
}
.htmlLogo {
  position: absolute;
  top: 72%;
  left: 65%;
  transform: rotate(-60deg) translate(-50%);
}
.cssLogo {
  position: absolute;
  top: 78%;
  left: 30%;
  transform: rotate(30deg) translate(-50%);
}
.jsLogo {
  position: absolute;
  top: 5%;
  left: 40%;
  transform: rotate(-15deg) translate(-50%);
}
// Home end

// Profile start
.profileImg {
  width: 100%;
  max-width: 240px;
  max-height: 240px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  margin: 3rem;
}

#Profile h1 {
  text-align: center;
}
#Profile p.lead {
  text-align: center;
  font-size: 21px;
}
// Profile end

// Experience start
#Experience h1,
#Education h1,
#Projects h1,
#Abilities h1,
#Contact h1 {
  text-align: center;
}

.ability-title {
  display: inline-block;
  width: 60%;
}
.ability-score {
  float: right;
}
.filled {
  color: $secondarySquash;
}
.unfilled {
  color: grey;
}

#Contact li {
  transform: scale(1.5);
  margin: 30px;
  color: white;
  padding-left: 100px;
}
.iconStyling {
  font-size: 20px;
  margin: 10px;
}
a:link {
  color: $backGroundColor2;
}

/* visited link */
a:visited {
  color: $backGroundColor2;
}

/* mouse over link */
a:hover {
  color: $backGroundColor1;
}

/* selected link */
a:active {
  color: $backGroundColor1;
}
