$primarySquash: #141e27;
$secondarySquash: #203239;
$backGroundColor1: #e0ddaa;
$backGroundColor2: #eeedde;
// all start
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

section:nth-child(n + 2) {
  padding: 3em;
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
}

section:nth-child(1) {
  background: $secondarySquash;
  position: relative;
  box-sizing: border-box;
  height: 92vh;
}

section:nth-child(2n + 3) {
  background: $backGroundColor2;
}
// all end

// header start
header {
  height: 8vh;
  background: $primarySquash;
  color: white;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: $backGroundColor1;
}

.active {
  background: $backGroundColor1 !important;
  color: $primarySquash !important;
}
// header end

// Home start
.homeHeaderContainer {
  padding-left: 20%;
}
.homeHeader {
  font-size: 5rem;
  color: $backGroundColor2;
}
.changingHeader {
  font-size: 8rem;
  color: $backGroundColor1;
}

span {
  opacity: 0;
  transition: all 0.4s ease;
}

span.fadeAnimation {
  opacity: 1;
}

footer {
  height: 50vh;
  background: $primarySquash;
  color: white;
}

.scrollDownArrow {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);
  height: 50px;
  width: 100px;
  border-radius: 150px 150px 0 0;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  animation: arrowAnimation 3s infinite;
}

@keyframes arrowAnimation {
  from {
    transform: scale(2) translate(0, 0%);
  }
  50% {
    transform: scale(2) translate(0, 35%);
  }
  100% {
    transform: scale(2) translate(0, 0%);
  }
}

.homeImg {
  max-width: 100px;
  max-height: 100px;
  opacity: 0.4;
  animation: homeImgAnimation 2s;
}

@keyframes homeImgAnimation {
  from {
    max-width: 500px;
    max-height: 500px;
    opacity: 1;
  }
  to {
    max-width: 100px;
    max-height: 100px;
    opacity: 0.4;
  }
}

.bootStrapLogo {
  position: absolute;
  top: 10%;
  left: 15%;
  transform: rotate(-15deg) translate(-50%);
}
.javaLogo {
  position: absolute;
  top: 45%;
  left: 10%;
  transform: rotate(-95deg) translate(-50%);
}
.csharpLogo {
  position: absolute;
  top: 12%;
  left: 75%;
  transform: rotate(-15deg) translate(-50%);
}
.cppLogo {
  position: absolute;
  top: 45%;
  left: 78%;
  transform: rotate(20deg) translate(-50%);
}
.htmlLogo {
  position: absolute;
  top: 72%;
  left: 65%;
  transform: rotate(-60deg) translate(-50%);
}
.cssLogo {
  position: absolute;
  top: 78%;
  left: 30%;
  transform: rotate(30deg) translate(-50%);
}
.jsLogo {
  position: absolute;
  top: 5%;
  left: 40%;
  transform: rotate(-15deg) translate(-50%);
}
// Home end
